<h1>Add Event</h1>
<form id="formAddEvent">
  <input id="eventCategory" type="text" placeholder="Event Category" />
  <input id="eventTitle" type="text" placeholder="Event Title" />
  <select id="eventType" />
    <option value="training">Training</option>
    <option value="operation">Operation</option>
  </select>
  <input id="eventStartDate" type="text" placeholder="Start Date" />
  <input id="eventEndDate" type="text" placeholder="End Date" />
  <input id="eventLocation" type="text" placeholder="Event Location" />
  <button id="addEventBtn" onclick="addEvent(event)">Add Event</button>
</form>

<script>

function addEvent() {

  const eventCategory = document.getElementById('eventCategory').value
  const eventTitle = document.getElementById('eventTitle').value
  const eventType = document.getElementById('eventType').value
  const eventStartDate = document.getElementById('eventStartDate').value
  const eventEndDate = document.getElementById('eventEndDate').value
  const eventLocation = document.getElementById('eventLocation').value

  const eventInfo = {
    eventCategory: eventCategory,
    eventTitle: eventTitle,
    eventType: eventType,
    eventStartDate: eventStartDate,
    eventEndDate: eventEndDate,
    eventLocation: eventLocation
  }

  const requestURL = 'http://localhost:3000/api/import'
  const request = new XMLHttpRequest()

  request.open('POST', requestURL)
  request.setRequestHeader('Content-Type','application/json; charset=UTF-8')
  request.responseType = 'json'

  request.send(JSON.stringify(eventInfo))

  request.onload = function() {
    console.log(request.responseText)
    // var res = JSON.parse(request.responseText)
  }
  // event.stopPropagation? event.stopPropagation() : event.cancelBubble = true
}

</script>
