<h1>Create Event</h1>
<form id="formCreateEvent">
  <input id="eventCategory" type="text" placeholder="Event Category" />
  <input id="eventTitle" type="text" placeholder="Event Title" />
  <select id="eventType" />
    <option value="training">Training</option>
    <option value="operation">Operation</option>
  </select>
  <input id="createCalEventStartDate" type="text" placeholder="Start Date" />
  <input id="createCalEventEndDate" type="text" placeholder="End Date" />
  <input id="eventLocation" type="text" placeholder="Event Location" />
  <input type="button" id="createEventBtn" onclick="createCalEvent()" value="Create Event" />
</form>

<script>
let calEventStartDate = document.getElementById('createCalEventStartDate')

const calEventStartDatePicker = datepicker(calEventStartDate, {
  formatter: (input, date, instance) => {
    const value = date.toISOString().slice(0,10)
    calEventStartDate.value = value 
  }
})

let calEventEndDate = document.getElementById('createCalEventEndDate')

const calEventEndDatePicker = datepicker(calEventEndDate, {
  formatter: (input, date, instance) => {
    const value = date.toISOString().slice(0,10)
    calEventEndDate.value = value 
  }
})

</script>
