<%
  var cur_day = moment();
  var datepicker = '';

  // check for cookie values to set an arbitrary start and stop date, and cell_width
  try {
    var cal_date_begin = moment(cal_view.beginDate);
    if (!cal_date_begin.isValid()) throw "Invalid Date: cal_date_begin"
    if ( cal_view.beginDate === undefined ) throw "beginDate undefined";
  }
  catch(err){
    var cal_date_begin = moment();
  }

  try {
    var cal_date_end = moment(cal_view.endDate);
    if (!cal_date_end.isValid()) throw "Invalid Date: cal_date_end"
    if ( cal_view.endDate === undefined ) throw "endDate undefined";
    if ( cal_date_end.isSame(cal_date_begin)) throw "endDate same as beginDate";
  }
  catch(err){
    var cal_date_end = cal_date_begin.clone().add(30, 'days');
  }

  try {
    var cell_width = cal_view.cell_width;
    if ( cell_width === undefined ) throw "cell_width is undefined";
    if ( cell_width === NaN ) throw "cell_width is NaN";
    if ( cell_width == '' ) throw "cell_width is empty";
  }
  catch(err){
    var cell_width = 50;
  }

  datepicker += '<form id="formDatePicker" name="datepicker" method="post" action="./" enctype="application/x-www-form-urlencoded" >\n'
  datepicker += 'Date Start: <input id="inputDateBegin" type="text" value="' + cal_date_begin.format("YYYY-MM-DD") + '" name="datebegin" />\n'
  datepicker += 'Date End: <input id="inputDateEnd" type="text" value="' + cal_date_end.format("YYYY-MM-DD") + '" name="dateend" />\n'
  datepicker += 'Cell Width: <input id="inputCellWidth" type="text" value="' + cell_width.toString() + '" name="cell_width" />\n'
  datepicker += '<button id="btnSubmit" type="submit">Update</button>\n'
  datepicker += '</form>'
%>

  <%- datepicker %>
