<% //debugger %>
<%

// check for cookie values to set an arbitrary start and stop date, and cell_width
try {
  var calStartDate = new Moment(calView.startDate)
  if (!calStartDate.isValid()) throw new Error('Invalid Date: calStartDate')
  if (calView.startDate === undefined) throw new Error('startDate undefined')
} catch (err) {
  calStartDate = new Moment()
}

try {
  var calEndDate = Moment(calView.endDate)
  if (!calEndDate.isValid()) throw new Error('Invalid Date: cal_date_end')
  if (calView.endDate === undefined) throw new Error('endDate undefined')
  if (calEndDate.isSame(calStartDate)) throw new Error('endDate same as beginDate')
} catch (err) {
  calEndDate = calStartDate.clone().add(30, 'days')
}

try {
  var cellWidth = calView.cellWidth
  if (cellWidth === undefined) throw new Error('cellWidth is undefined')
  if (isNaN(cellWidth)) throw new Error('cellWidth is NaN')
  if (cellWidth === '') throw new Error('cellWidth is empty')
} catch (err) {
  cellWidth = 50
}

var datepicker = ''
datepicker += '<form id="formDatePicker" name="datepicker" method="post" action="./" enctype="application/x-www-form-urlencoded" >\n'
datepicker += 'Date Start: <input id="inputStartDate" type="text" value="' + calStartDate.format('YYYY-MM-DD') + '" name="startDate" />\n'
datepicker += 'Date End: <input id="inputEndDate" type="text" value="' + calEndDate.format('YYYY-MM-DD') + '" name="endDate" />\n'
datepicker += 'Cell Width: <input id="inputCellWidth" type="text" value="' + cellWidth + '" name="cellWidth" />\n'
datepicker += '<button id="btnSubmit" type="submit">Update</button>\n'
datepicker += '</form>'
%>
<%- datepicker %>
