<ul>
<%
  var list = ''
  for (i = 0; i < events.events.length; i++) {

    var eventCategory = events.events[i].eventCategory
    var eventStartDate = events.events[i].eventStartDate
    var eventEndDate = events.events[i].eventEndDate
    var eventSummary = events.events[i].eventSummary
    var eventImportType = events.events[i].eventImportType
    var eventId = events.events[i]._id

    // create an entry for the event with a link to delete the event
    list += '<li><div class="' + eventImportType + '" >Category: ' + eventCategory + ', Event: ' + eventSummary
    list += '<br>Start: ' + eventStartDate + ', End: ' + eventEndDate +  '<form name="deleteEvent">\n'
    list += '<input type="button" class="linkButton" onclick="deleteCalEvent(\'' + eventId + '\')" value="Del" \\></form></div></li>\n'
  }
%>
<%- list %>
</ul>
