<%
    var weekday = new Array(7);
    weekday[0] = "S";
    weekday[1] = "M";
    weekday[2] = "T";
    weekday[3] = "W";
    weekday[4] = "T";
    weekday[5] = "F";
    weekday[6] = "S";

    var hb_cal_table = '';

    hb_cal_table = '<div class="hb_cal">';
    hb_cal_table += '<table id="hb_table" class style="height: 30px; border: 1px solid black;">';
    hb_cal_table += '<tr>';

    for (i = 0; i <= 31; i++) {
// highlight the day of the month here
      // set the date with a leading zero if the day of the month is less than 10
      if (i < 10) {
        i = "0" + i.toString();
      }

      // calculate the day of the week and the day of the month
      var date_string = "2019-07-" + i + "T12:00:00Z";
      var d = new Date(date_string);
      var n = weekday[d.getDay()];

      hb_cal_table += '<th class="widget-header" data-date="2019-08-' + i + '" style="border: 1px solid black;">\n';
      hb_cal_table += '<div class="cell-content">\n';
      if (i != 0) {
        hb_cal_table += '<span class="cell-text">' + i + ' ' + n + '</span>\n';
      }
      hb_cal_table += '</div>\n';
      hb_cal_table += '</th>\n';;
    }

  hb_cal_table += '</tr>';

// add the number of rows for each of the categorys
        var rows = '';
	for (i = 0; i < events.length; i++) {
	//for (i = 0; i < 1; i++) {
          try {
            var cur_cat = events[i].category;
            //console.log("cur_cat is " + cur_cat);
          }
          catch(err){
            var cur_cat = "undefined";
          }
          try {
            var prev_cat = events[i-1].category
            //console.log("prev_cat is " + prev_cat);
          }
          catch(err){
            var prev_cat = "undefined";
            //console.log("prev_cat is undefined");
          }
          try {
            var next_cat = events[i+1].category
            //console.log("next_cat is " + next_cat);
          }
          catch(err){
            var next_cat = "undefined";
            //console.log("next_cat is undefined");
          }
          if (cur_cat != prev_cat) {
            // new category, set a new row
            //console.log("cur_cat is " + cur_cat);
            //console.log("prev_cat is " + prev_cat);
            rows += '<tr data-resource-id="' + events[i].category + '">';
            rows += '<td>\n';
            rows += events[i].category;
            rows += '</td>\n';
          }
          //rows += '<div class="cell-content">\n';
          // check to see if the category changed 
	  for (j = 1; j <= 31; j++) {
            // calculate the start of the day 
            var cur_date = new Date();
            var end_date = new Date();
            cur_date.setTime(Date.parse(events[i].date_start));
            end_date.setTime(Date.parse(events[i].date_end));
            //console.log(events[i].date_start);
            //console.log(cur_date.getDate());
            event_length = end_date.getDate() - cur_date.getDate() + 1;
            if( cur_date.getDate() + 1 == j) {
              rows += '<td colspan = "' + event_length + '" style="height: 30px; border: 1px solid black;">\n';
              j = j + event_length - 1;
              rows += events[i].event;
              // move on to the next event, but only if cur_cat == next_cat
              console.log("cur_cat is " + cur_cat);
              console.log("next_cat is " + next_cat);
              console.log("");
              if(cur_cat == next_cat) {
                i = i + 1;
                console.log("event index is incremented");
              console.log("");
              }
              rows += '</td>\n';
            } else {
              rows += '<td colspan = "1">\n';
              rows += '</td>\n';
            }
	  }
          
          //rows += '</div>\n';
          
          if (cur_cat != prev_cat) {
            // new category, set a new row
            rows += '</tr>';
          }
	}
// do this for each event, calculate the event width based off of the number of days.
// start the event on the start day, need to calculate offset based on the start day
//<tr data-resource-id="b">
  //<td class="fc-widget-content">
  //<div style="height: 39.2px;">
    //<div class="fc-event-container" style="height: 23px;">
      //<a class="fc-timeline-event" style="background-color: green; border-color: green; left: 45.6px; right: -136.8px; top: 0px; >
        //<div class="fc-content">
          //<span class="fc-time">12p</span>
          //<span class="fc-title fc-sticky" style="position: sticky; left: 0px; right: 0px; top: 0px;">event 3</span>
        //</div>
      //</a>
    //</div>
  //</div>
  //</td>
//</tr>

  hb_cal_table += rows;
  hb_cal_table += '</table>';
  hb_cal_table += '</div>';
  %>

  <%- hb_cal_table %>

    <ul>
    <%
        var list = '';
	for (i = 0; i< events.length; i++) {
	  list += '<li>Category: ' + events[i].category + ', Event:' + events[i].event;
          list += ' start: ' + events[i].date_start + ', end:' + events[i].date_end + '</li>';
	}
      %>
      <%- list %>
    </ul>
