<div class="navbar fixed-top">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">View Event List</a></li>
        <li><a href="/transfer">Import or Export Event List</a></li>
    </ul>
</div>
