<form id="formExportEvents" name="exportevents" method="post" action="./export">
  Export Type:
  <select id="inputExportType" name="exporttype" />
    <option value="training">CSV</option>
    <option value="operation">iCal</option>
  </select>
  <button id="btnSubmit" type="Submit">Export</button>
</form>

<form id="formImportEvents" name="importCalendar" method="post" action="./api/import" enctype="multipart/form-data">
  Import File:
  <input id="inputImportFile" type="file" name="importFile" />
  <button id="btnSubmit" type="submit" value="Import" >Import</button>
</form>

