<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
    <title><%= title %>: Horseblanket Calendar</title>
    <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
</head>

<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://unpkg.com/js-datepicker"></script>

  <header>
      <% include partials/header %>
  </header>

  <div class="main-body hb_cal">
    <% include partials/datepicker %>
    <% include partials/hb_cal %>
  </div>

  <div class="create_event_hb_cal">
    <% include partials/createevent %>
    <% include partials/dispevents %>
  </div>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>
