<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
    <link href='scripts/@fullcalendar/core/main.css' rel='stylesheet' />
    <link href='scripts/@fullcalendar/timeline/main.css' rel='stylesheet' />
    <link href='scripts/@fullcalendar/resource-timeline/main.css' rel='stylesheet' /> 
</head>

<body>
<script src='https://cdn.jsdelivr.net/npm/luxon@1.19.3/build/global/luxon.min.js'></script>
<script>var DateTime = luxon.DateTime</script>
<script src="https://unpkg.com/js-datepicker"></script>
<script src='scripts/@fullcalendar/core/main.js'></script>
<script src='scripts/@fullcalendar/timeline/main.js'></script>
<script src='scripts/@fullcalendar/resource-common/main.js'></script>
<script src='scripts/@fullcalendar/resource-timeline/main.js'></script>
<script src='scripts/@fullcalendar/interaction/main.js'></script>

<!--make a new script that will take all the hb_cal drawing features and put them in another place -->

  <header>
      <% include partials/header %>
  </header>

  <div class="main-body hb_cal">
    <% include partials/datepicker %>
    <% include partials/hb_cal %>
  </div>

  <div class="create_event_hb_cal">
    <% include partials/createevent %>
    <% include partials/dispevents %>
    <% include partials/createorg %>
  </div>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>
