<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>

    <header>
        <% include partials/header %>
    </header>

    <div class="main-body hb_cal">
        <% include partials/hb_cal %>
    </div>

    <% include partials/addevent %>
    <% include partials/dispevents %>

    <footer>
        <% include partials/footer %>
    </footer>

</body>

</html>
