<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <title><%= title %>: Import or Export</title>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>
    <% include partials/import_export %>
  </body>
</html>
