<!DOCTYPE html>
<html>
  <head>

    <% include partials/header %>
    <title><%= title %>: Import or Export</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <% include partials/import_export %>
  </body>
</html>
