body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.training {
  background-color: #00CC00;
  color: white;
}

.operation {
  background-color: #CC0000;
  color: white;
}

.linkButton { 
     background: none;
     border: none;
     color: white;
     text-decoration: underline;
     cursor: pointer; 
     text-align: center; 
     text-transform: uppercase; 
     font-size: medium;
}

.hb_header {
     
     border: 1px solid black;
}

.hb_table {
     border: 1px solid black;
}

th,
td {
    overflow: hidden;
    text-align: center; 
}
