body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  padding: 0px;
  margin: 0px;
}

table {
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
}

.training,
.Training {
  background-color: #00CC00;
  color: white;
}

.operation,
.Operation {
  background-color: #CC0000;
  color: white;
}

.linkButton { 
     background: none;
     border: none;
     color: black;
     text-decoration: underline;
     cursor: pointer; 
     text-align: center; 
     text-transform: uppercase; 
     font-size: medium;
}

.hb_header {
     background-color: #FF0000;
}

.hb_table {
}

th,
td {
  overflow: hidden;
  text-align: center; 
  padding: 0;
  margin: 0;
}

.Google_Calendar {
     background: orange;
     border: 1px solid black;
}
.DTMS_Calendar {
     background: pink;
     border: 1px solid black;
}
.Confluence_Calendar {
     background: lightblue;
     border: 1px solid black;
}
.Hand_Entry_Calendar {
     background: gray;
     color: yellow;
     border: 1px solid black;
}
