body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.training {
  background-color: #00AA00;
}

.operation {
  background-color: #AA0000;
}

.linkButton { 
     background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer; 
}

.hb_header {
     
     border: 1px solid black;
}

.hb_table {
     
     border: 1px solid black;
}
